$color-black: #161618;
$color-white: #f1f1f1;
$color-green: #33f216;
$color-punch: #d93425;
$color-jungle-green: #77d9a1;

$font-lincoln-mirte: "Licoln Mirte";
$font-tanker: "Tanker";
$font-clash: "Clash Display";
$font-satoshi: "Satoshi";
