@font-face {
  font-family: $font-lincoln-mirte;
  src: url("/styles/fonts/LincolnMITRE-LM7x9.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-tanker;
  src: url("/styles/fonts/Tanker-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-clash;
  src: url("/styles/fonts/ClashDisplay-Variable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-satoshi;
  src: url("/styles/fonts/Satoshi-Variable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
