@font-face {
  font-family: $font-lincoln-mirte;
  src: url("/styles/fonts/LincolnMITRE-LM7x9.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-airnt;
  src: url("/styles/fonts/Airnt.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
